/* services title */
.special {
    position: relative;
    /* 3.6rem(57.6px) @ 25rem(400px) increasing to 6rem(96px) @ 75rem(1200px) */
    font: 400 clamp(3.6rem, calc(3.6rem + ((1vw - 0.25rem) * 8.8)), 6rem) var(--main-font),
        var(--fall-back-font);
    color: var(--main-font);
    margin: 0 auto;
    padding-block: 3.45rem;
    text-transform: uppercase;
    text-align: center;
}

.special::before {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    /* center horizontally */
    left: 50%;
    top: 70%;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    transform: translateX(-50%);
}

.special::after {
    content: '';
    position: absolute;
    display: block;
    width: min(60%, 20rem);
    height: .2rem;
    top: clamp(77%, 9.9rem, 79%);
    /* center horizontally */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}
