.special {
    padding-block: var(--vertical-space);
    padding-inline: var(--page-padding-x);
}

.special-title {
    position: relative;
    /* 3.6rem(57.6px) @ 25rem(400px) increasing to 6rem(96px) @ 75rem(1200px) */
    font: 400 clamp(3.6rem, calc(3.6rem + ((1vw - 0.25rem) * 8.8)), 4.5rem) var(--main-font),
        var(--fall-back-font);
    color: var(--main-font);
    margin: 0 auto;
    padding-block: 3.45rem;
    text-transform: uppercase;
    text-align: center;
}

.pulsating-circle {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    left: 50%;
    top: 85%;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 1;
}

.pulsating-circle::before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;

}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

/* .special-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    left: 50%;
    top: 85%;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    background-color: #ffff ;
    transform: translateX(-50%);
    z-index: 1;
} */

.special-title::after {
    content: '';
    position: absolute;
    display: block;
    width: min(60%, 20rem);
    height: .2rem;
    top: 92%;
    /* center horizontally */
    left: 50%;
    transform: translateX(-50%);
    background-color: #01a4e9;
    border-radius: 5px;
    box-shadow: 0 0 5px #10abff;
    animation: glow 1.5s ease-in-out infinite;
    -webkit-animation: glow 1.5s ease-in-out infinite;
}


.special-text {
    margin: 2rem auto;
    text-align: center;
    text-indent: 1rem;
    line-height: 1.7;
    width: min(75%, 45ch);
    color: var(--sub-color-1);
}



/* hr animation */

hr {
    border: 3px solid #10abff;
    color: #10abff;
    border-radius: 5px;
    box-shadow: 0 0 5px #10abff;
    padding: 0;
    animation: glow 1.5s ease-in-out infinite;
    -webkit-animation: glow 1.5s ease-in-out infinite;
}

hr::before {
    content: '';
    position: absolute;
    border: 2px solid #aae7f8;
    width: 32rem;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(236, 173, 255, 0.918);

    animation: glowMinr 2s ease-in-out;
    -webkit-animation: glowMinor 2s ease-in-out infinite
}

@media (min-width:768px) {
    hr::before {
        width: 30rem;
    }
}
@media (max-width:599px) {
    hr::before {
        z-index: -1;
        width: 0;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2px #1beabd;
    }

    50% {
        box-shadow: 0 0 8px #1beabd;
    }

    100% {
        box-shadow: 0 0 2px #1beabd;
    }
}



@keyframes glowMinor {
    0% {
        box-shadow: 0 0 2px rgb(62, 212, 223);
    }

    50% {
        box-shadow: 0 0 8px rgb(62, 212, 223);
    }

    100% {
        box-shadow: 0 0 2px rgb(62, 212, 223);
    }
}
